---
layout: compress
---

{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <body>

    {% include browser-upgrade.html %}
    {% include masthead.html %}

    {{ content }}

    <div class="page__footer">
      <footer>
        {% include footer/custom.html %}
        {% include footer.html %}
      </footer>
    </div>

    {% include scripts.html %}
  <a href="https://clustrmaps.com/site/1av5b"  title="Visit tracker"><img src="//www.clustrmaps.com/map_v2.png?d=72qgM-C7kXHaQ68I9qs8LjQW8PEcx3rdNEjji-rUzsA&cl=ffffff" /></a>
  </body>
</html>
